@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import "bootstrap/scss/_mixins.scss";

.cont-services{
  color: #4d4949;
  position: relative;
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(102,180,213,.4)  52%, rgba(52,72,131,.7)  60%);
  .wrapper-services{
    color: #fbf7f7;
    z-index: 2;
  }
  .all-services{
    padding: 5rem 0 0 0;
  }
  .all-service-item{
    position: relative;
    padding-top: 5rem;
    padding-bottom: 9rem;
    &::before{
      content: "";
      position: absolute;
      height: 4px;
      background-color: #d9ecf4;
      width: 30%;
      top: -45px;
      left: 10%;
    }
    p{
      padding: .5rem;
      font-size: 1.2rem;
    }
  }
}
.item-service-title{
  color: rgb(211, 231, 243);
  min-height: 70px;
  font-family:"Dosis";
  font-size: 1.9rem;
  font-weight: bolder;
}
.wrapper-catalogo-equipos{
  padding: 3rem 0;
}

.grid-services{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  grid-gap: 10px ;
  justify-items: center;
}
.grid-services  >  div{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 290px;
  padding: 0 25px;
  min-height: 250px;
  background:  rgb(72, 115, 164);
  .grid-service-item-title{
    font-size: 2rem;
    color: rgb(244 ,247, 255);
    font-family: "Dosis";
    font-weight: 600;}
    
  }

@include media-breakpoint-up(md){
  .grid-services{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
  }

  .grid-services  >  div{
    width: 360px;
    .grid-service-item-title{
      font-size: 2.7rem;
    }
    
    }
  
  .cont-services{
    .all-service-item{
      padding-bottom: 4rem;
    }
  }
  }
  
@include media-breakpoint-up(sm){
  .cont-services{
    .all-services{
      padding: 10rem 0 4rem 0;
    }
  }

.grid-services{
  grid-gap: 55px;
  
}
.grid-services  >  div{
  width: 350px;
}
}
@include media-breakpoint-up(lg){
  .grid-services{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 44px;
  }
}

.all-service-wrapper{
}
.item-otros{
  font-size: 1.78rem;
  padding: .35rem;
}
.wrapper-clientes,.clientes{
  position:  relative;
  z-index: 5;
  svg{
    width: 190px;
    height: 210px;
  }
}
.extras .title{
  color: white!important;
}
