@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import "bootstrap/scss/_mixins.scss";
.cont-text{
  width: 100%;
}

@include media-breakpoint-up(sm){
  
  .cont-text{
    width: 480px;
  }

}

.footer-main{
  position: relative;
  height: 100vh;
  .download-title{
    transition: all 1s ease-out;
    border: solid .5vw transparent;
    font-size: 7  vw;
    border-radius: 5vw;
    padding: 2vw;

    color: #4d7dab;
    margin-bottom: 3vw;
    .icon-download {
      width: 11vw;
    }

  }
  .download-title:hover{
    transition: all 1s ease-in;
    border: solid .5vw #ccc;
  }
}

    .mail-section{
      margin: 2vw 0;
    }

    .delektron {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      padding-bottom: 2vw;
    }
    .icon-phone g path, .icon-whats g path{
      fill:#8fc8e0;
    }
    .icon-phone{
      width: 9.2vw;
      padding-left: 11px
    }
    .icon-whats{
      width: 12.1vw;
      height: auto;
    }
    .phones-info .info{
      //width: 149px;
    }

@include media-breakpoint-up(sm){

    .icon-whats{
      width: 10.1vw;
    }
    .icon-phone{
      width: 7.2vw;
    }
}
@include media-breakpoint-up(md){
  .icon-phone{
    width: 3.2vh;
  }
  .icon-whats{
    width: 7.1vh;
  }

  .footer-main{
      
    .download-title{
      font-size: 5vw;
      .icon-download {
        //width: 6vw;
        color:#8fc8e0;
      }

    }
  }
}
