.cont-text{
  width: 480px;
}

.footer-main{
  position: relative;
  height: 100vh;
  .download-title{
    font-size: 3vw;
    border: solid .5vw #ccc;
    border-radius: 5vw;
    padding: 2vw;

    color: #4d7dab;
    margin-bottom: 3vw;
    .icon-download {
      width: 6vw;
    }

  }
}

    .mail-section{
      margin: 2vw 0;
    }

    .delektron {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      padding-bottom: 2vw;
    }
    .icon-phone g path, .icon-whats g path{
      fill:#8fc8e0;
    }
    .icon-phone{
      width: 3.2vh;
      padding-left: 11px
    }
    .icon-whats{
      width: 4.1vh;
      height: auto;
    }
    .phones-info .info{
      width: 149px;
    }

