/*.title2,.title{
  font-size: 5rem;
  font-weight: 700;
}
.title{
  width: 30px;
  word-wrap: break-word;
  line-height: 70px;
}
.title2{
  letter-spacing: 15px;
}*/
.cont-about{
  z-index: 1;
  min-height: 1140px;
}
.container-text-about{
  padding-top: 2.55rem;
  margin-bottom: 3rem;
}
.title,.title2{
  font-weight: 700;
}
.body-about p{
  font-size: 1.234rem;
}
.thanks{
  font-size: 2.75rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px #3a86ff;
  z-index: 4;
}
.banner-about{
  position: absolute;
  left: 220px;
  top: 20px;
  background-color: #3a86ff;
  width: 320px;
  height: 490px;
  z-index: 3;
}
.text-compromise{
  padding-top: 10rem;
}
